<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to 'Moje gry', events_path %></li>
    <li><%= link_to 'Moi zawodnicy', players_path %></li>
    <li><%= link_to 'Ośrodki treningowe', sportcenters_path %></li>
  </ul>


</div>